* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

a {
    color: rgba(34,22,95,0.35);
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

.msg {
    font-family: Inconsolata, sans-serif;
    border-bottom: 2px solid rgba(101,15,15,0.67);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    border-right: 2px solid #e3e3e3;
    border-radius: 15px;
    outline: none;
}

button {
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    background: #ACC3B5;
    border: unset;
    cursor: pointer;
}

.regbutton {
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    background: #ACC3B5;
    border: unset;
    cursor: pointer;
}

.logout {
    color: rgba(101,8,24,0.87);
    text-align: right;
}

div {
    margin-left: 500px;
}